body {
    margin: 0px;
    font-family: 'PT Serif', ;
    font-family: 'Oswald', ;
}

h1 {
    color: deepskyblue;
    font-size: 30px;
}

.half-width {
    float: left;
    width: 40%;
    margin-left: 8%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
}

.header-bg {
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}

section {
    height: 800px;
}

.link-button {
    text-decoration: none;
    background-color: cyan;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
}

.biography-bg {
    background-image: url(images/biography-bg.png);
}

.center {
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 30px;
}

.lates-work-bg {
    background-image: url(images/latest-work-bg.png)
}

.width img {
    width: 100%;
}

.width {
    float: left;
    width: 30%;
    margin: 1%;
}

.footer-bg {
    background-image: url(images/footer-bg.png);
}